.home-container {
	padding: 7em 19em 0 14em;
	overflow-x: hidden;
	margin: auto;
}

.add-post-container {
	position: relative;
	border-radius: 14px;
	margin-bottom: 72px;
	border: 1px solid rgba(0, 0, 0, 0.15);
	padding: 0px 20px 19px 0px;
	background-color: white;

	input {
		width: 94%;
		height: 45px;
		margin: 20px 54px 2px 63px;
		background: #f3f3f3;
		border-radius: 14px;
		border: hidden;
		font-family: "Montserrat";
		padding: 0 0 0 13px;
		font-style: normal;
		font-size: 14px;
		line-height: 22px;
		outline: none;
	}
}

.addons-with-post {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding-bottom: 6px;
	gap: 33px;
	margin-top: 43.5px;
	margin-left: 33px;

	.add-post-item {
		display: flex;
		flex-direction: row;
		align-items: center;
	}

	span {
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 500;
		font-size: 13px;
		line-height: 17px;
		color: #606165;
		flex: none;
		order: 1;
		flex-grow: 0;
		margin-left: 14px;
	}
}

.add-post-button {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 10px 45px;
	gap: 10px;
	width: 116px;
	height: 45px;
	margin-left: 91%;
	margin-top: -50px;
	background: #377DFF;
	border-radius: 10px;
	border: none;
   	color: white;
}
.btn{
	display: flex;
    margin-left: 91%;
    position: relative;
	margin-top: -7%;
}
.css-sghohy-MuiButtonBase-root-MuiButton-root {
	background-color: #377DFF	;
}
.logo1{
	display: flex;
    position: absolute;
	top: 26px;
    left: 12px;
}
.status{
	
	position: relative;
    display: flex;
    top: -31px;
    left: 49%;
}
.post-container1{
	position: relative;
    border-radius: 14px;
    margin-bottom: 72px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    padding: 0px 20px 0px 0px;
    background-color: white;
}